<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jhuang.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".MySub2Activity"
            android:label="@string/title_activity_my_sub2" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".StoreFileActivity"
            android:label="@string/title_activity_store_file" >
        </activity>
        <activity
            android:name=".ExampleActivity"
            android:label="@string/title_activity_example" >
        </activity>
        <activity
            android:name=".SharePreferencesActivity"
            android:label="@string/title_activity_share_preferences" >
        </activity>
        <activity
            android:name=".HandlerActivity"
            android:label="@string/title_activity_handler" >
        </activity>

        <service
            android:name=".FirstService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".FirstServiceActivity"
            android:label="@string/title_activity_first_service" >
        </activity>
        <activity
            android:name=".SocketIOActivity"
            android:label="@string/title_activity_socket_io" >
        </activity>
    </application>

</manifest>
